.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myTxtField.MuiFormControl-root{
    margin-top: 10px;
    margin-bottom: 10px;
}

.myBth.MuiButton-root {
    margin-top: 5px;
}